<!DOCTYPE html>
<html lang="pt-BR">
<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Dia {{numero}}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<h1>DIA {{numero}}</h1>

<h2>{{conteudo.titulo}}</h2>

<img src="{{ url_for('static', filename='img/' + conteudo.imagem) }}">

<div class="card">

<h3>Treino</h3>

<p style="white-space:pre-line;">
{{conteudo.treino}}
</p>

</div>

<div class="card">

<h3>Ação Agora</h3>

<p>
{{conteudo.acao}}
</p>

</div>

<div class="card">

<h3>Alongamento</h3>

<p>
{{conteudo.alongamento}}
</p>

</div>

<div class="card">

<h3>Desafio do Dia</h3>

<p>
{{conteudo.desafio}}
</p>

</div>

<p class="frase">

"{{conteudo.frase}}"

</p>

<a href="/completar_dia">

<button>

CONCLUIR DIA

</button>

</a>

</div>

</body>
</html>